.tile {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  padding: 20px;
  position: relative;
}

.dark {
  background: #8c6b44;
}
.dot {
  position: absolute !important;
  left: 30px;
  top: 30px;
  opacity: 0.8;
}
